/* ================================== DEFAULTS ================================== */
* {
    box-sizing: border-box;
    caret-color: transparent;
}

input, textarea, #editor {
    caret-color: black;
}

html, 
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(231, 231, 231, 0.973);
    -webkit-font-smoothing: antialiased;
}

hr {
    border: 1px solid rgba(128, 128, 128, 0.137); 
}

.btn {
    cursor: pointer;
    transition-duration: .25s;
}

.btn-box-shadow:active {
    box-shadow: none;
    transform: translateY(2px) !important;
}

.btn-box-shadow {
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.27);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.27);
}

.center {
    text-align: center;
}

.hide {
    display: none;
}

.inline-divider {
    color: #ddd;
    margin: 0 3px;
}

.input-control {
    display: block;
    padding: 5px 10px;
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    line-height: 1rem;
    border-radius: 3px;
    border: 1px solid #009e815e;
    transition-duration: .5s;
}

.input-control:hover {
    outline: 0;
    transition-duration: .5s;
    border: 1px solid #0f9b81be;
}

.input-control:focus {
    outline: 0;
    transition-duration: .5s;
    border: 1px dashed #0f9b81e3;
    background-color: #f1f1f160;
}

.input-group {
    margin-top: 7px;
}

.input-group label {
    display: block;
    margin-bottom: 10px;
}

.responsive-table {
    overflow-x: auto;
}

.td-none {
    text-decoration: none;
    color: inherit;
}

.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.link {
    text-decoration: none;
    color: #00a184;
}

.link:hover {
    color: #00bd9a;
    transition-duration: .25s;
    text-decoration: underline;
}

.ionic-icon {
    transform: translateY(3px);
}


/* ================================== COMPONENTS ================================== */

/* Flash Messages */

.message {
    margin-top: 10px;
    padding: 10px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.message .message-icon {
    font-size: 1.5rem;
    margin-right: 10px;
}

.message.success {
    background-color: #eaf8f5;
    border: 1px solid #00bc98;
    color: #00bc98;
}

.message.warning {
    background-color: #f8f7ea;
    border: 1px solid #bc9900;
    color: #bc9900;
}

.message.error {
    background-color: #f8eaea;
    border: 1px solid #bc0000;
    color: #bc0000;
}

.admin-form .form-errors {
    list-style-type: "* ";
    background-color: #f8eaea;
    border: 1px solid #bc0000;
    border-radius: 3px;
    color: #bc0000;
    padding: 10px 20px;
}

/* Featured Post Form */

.featured-post-form {
    padding: 10px;
}

.featured-post-form  .input-control-sm {
    max-width: 500px;
    width: 100%;
}

@media only screen and (max-width: 768px) {

}

/* Table Actions*/

.table-actions {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trash-btn {
    border: 1px solid #f80000;
    background-color: #ff3b3b9f;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.trash-btn:hover {
    background-color: #ff3b3b;
    transform: translateY(-3px);
    transition-duration: .25s;
}

.trash-icon {
    font-size: 18px;
    transform: translateY(3px);
}

.add-post-icon {
    font-size: 18px;
    transform: translateY(4px);
}

.add-post-btn {
    border: 1px solid rgb(84, 143, 134);
    background-color: rgba(84, 143, 134, 0.808);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.add-post-btn:hover {
    background-color: rgb(84, 143, 134);
    transform: translateY(-3px);
    transition-duration: .25s;
}

/* TABLES */

.admin-table table {
    border: 1px solid #ddd;
    background-color: #fff;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    padding: 10px 40px;
    text-align: left;
}

.admin-table th {
    background-color: #ddd;
}

.admin-table th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.admin-table td a {
    text-decoration: none;
    color: rgb(0, 103, 151);
}

.admin-table td a:hover {
    text-decoration: underline;
    color: #ddd;
    transition-duration: .25s;
}

.admin-table td .td-action-links {
    margin-top: 5px;
}

.admin-table td .td-action-links .trash {
    color: rgba(255, 111, 111, 0.87);
}

.admin-table td .td-action-links a {
    font-size: 0.75rem;
    color: #18aaff;
}

.admin-table .related-tables {
    display: flex;
    justify-content: space-between;
}

.admin-table .related-tables .all-posts{
    width: 100%;
    padding: 30px;
}

.admin-table .related-tables .related-posts {
    width: 100%;
    padding: 30px;
}

/* Table Pagination */

.admin-table .pagination-links {
    display: flex;
    justify-content: flex-end;
}

.admin-table .pagination-links .link {
    font-size: 0.9rem;
    background-color: transparent;
    padding: 0.35rem .75rem;
    border: 1px dotted #ddd;
}

.admin-table .pagination-links .link.active {
    color: #fff;
    background-color: #0056f76e;
}

/* Create Form */

.admin-form {
    background-color: #fff;
    margin: 20px auto;
}

.admin-form .editor {
    min-height: 200px;
    border-radius: 5px;
}

.admin-form .profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: transparent;
    background-image: url(../images/avatar/avatar-profile.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0;
    margin-bottom: 10px;
    position: relative;
    overflow-x: hidden;
}

.admin-form .profile-avatar span {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    text-decoration: underline;
    font-size: 16px;
}

.admin-form .profile-avatar:hover span {
    color: white;
    background-color: rgb(131, 131, 131);
    opacity: 1;
    transition-duration: .2s;
}

.admin-form .post-details {
    display: flex;
}

.admin-form .post-details .select-topic-wrapper {
    flex-basis: 75%;
}

.admin-form .post-details .image-wrapper {
    flex-basis: 25%;
    padding: 26px 20px 20px 30px;
}

.admin-form .post-details .image-wrapper .img-btn {
    height: 40px;
    border: 1px solid #c4c4c485;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
}

.admin-form .post-details .image-wrapper .img-btn:hover {
    transform: translateY(-2px);
    transition-duration: .25s;
    background-color: #ddd;
} 

.admin-form .post-details .image-wrapper .img-btn-icon {
    transform: translateY(1px);
    margin: 5px;
}

.admin-form .input-group .create-btn {
    background-color: #00bc98;
}

/* Preview Image */

.admin-form .preview-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-form .preview-wrapper .preview-heading {
    margin: 0;
}

/* Create Topic */

.admin-form textarea {
    height: unset;
}

/* Related Posts */

.related-tables .all-posts tbody tr:hover {
    background-color: #0075602d;
}

.related-tables .related-posts tbody tr:hover{
    background-color: #0075602d;
}

.related-tables .related-posts tbody tr:hover .close-icon{
    display: block;
}

.check-icon {
    font-size: 20px;
    color: green;
}

.close-icon {
    font-size: 20px;
    color: rgb(255, 48, 48);
    cursor: pointer;
}

/* Author's Permissions */

.admin-table .role-description {
    background-color: #f5f5f5;
    padding: 2px 15px;
    border-radius: 3px;
    margin-bottom: 10px;
}


/******************************************** HEADER ********************************************/

header {
    background-color: rgba(243, 243, 243, 0.952);
    width: 100%;
    height: 80px;
    padding: 0 8rem; 
    border-bottom: 1px solid rgba(196, 196, 196, 0.486);  
    display: flex;
    justify-content: space-between;    
    align-items: center;
    -webkit-box-shadow: 0px 5px 27px -5px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 5px 27px -5px rgba(0,0,0,0.52);
    box-shadow: 0px 5px 27px -5px rgba(0,0,0,0.52);
}

header .menu-icon {
    display: none;
    font-size: 25px;   
}

header nav {
    height: inherit;
    display: flex; 
    align-items: center;
}

header .nav-overlay {
    display: none;
}

header ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

header .navmenu {
    display: flex;   
    transition: all 0.25s ease-in-out;
}

header .navmenu .navitem {
    position: relative;
}

header .navmenu .navitem .navicon {
    transform: translateY(4px);
    font-size: 16px; 
}

header .navmenu .navitem a {
    display: block;
    text-decoration: none;
    color: slategray;
    padding: 30px 16px;
}

header .navmenu .navitem a:hover {
    color: rgba(163, 163, 163, 0.479);
    transition-duration: .25s;
}

header .navmenu .navitem .dropdown {
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 8px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 8px 5px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 8px 5px rgba(0,0,0,0.3);
    width: 150px;
    border-radius: 5px;
    position: absolute;
    top: 80px;
    left: 0;
    opacity: 0; 
    z-index: -5;
    transform: translateY(30px);
}

header .navmenu .navitem:hover .dropdown {
    opacity: 1;
    z-index: 5;
    transform: translateY(0);
    transition: all .25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

header .navmenu .navitem .dropdown li {
    border-bottom: 1px solid rgba(231, 231, 231, 0.973);
}

header .navmenu .navitem .dropdown a {
    padding: 16px;
}

.logo-wrapper {
    font-size: 1.8rem;
    color: slategray;
}

.logo-wrapper:hover {
    color: #ddd;
    transition-duration: .25s;
    border-radius: 3px;
}

.logo-wrapper:hover span {
    background-color: #ddd;
    transition-duration: .25s;
    padding: 0;
}

.logo-wrapper span {
    background-color: rgb(89, 146, 137);
    color: #fff;
    padding: 0 2px;
    border-radius: 3px;
    line-height: 0;
}

.search-icon {
    font-size: 20px;
    padding-right: 5px;
}

.search-icon:hover {
    cursor: pointer;
    color: rgba(163, 163, 163, 0.479); 
    transition-duration: .25s;
}

.header-search-form {
    border-radius: 5px;
    border-color: red;
}

/******************************************** HEADER - Media Queries ********************************************/

@media only screen and (max-width: 1024px) {
    header {
        padding: 0 130px; 
    }
}


@media only screen and (max-width: 768px) {

    header {
        padding: 0 80px;
    }

    header .menu-icon {
        display: block;
    }
    
    header .menu-icon:hover {
        cursor: pointer;
        color: rgba(163, 163, 163, 0.479); 
        transition-duration: .25s;
    }

    header nav {
        flex-grow: 1;
    }

    header .logo-wrapper {
        width: 100%;
        text-align: center;
    }

    header .nav-overlay.open {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.418);
    }

    header .navmenu {
        position: fixed;
        left: 0;
        top: 0;
        flex-direction: column;
        width: 200px;
        height: 100%;
        padding: 70px 5px;
        background-color:rgba(243, 243, 243, 0.952);
        overflow-y: scroll;
        z-index: 10;
        transform: translateX(-200px);
    }
}

/* Admin Layout */

.page-wrapper {
    display: flex;
    justify-content: space-between;
    min-height: calc(100% - 80px);
}

.page-wrapper .sidebar {
    flex-basis: 18%;
    max-width: 360px;
    background-color: rgb(84, 143, 134);
}

.page-wrapper .sidebar .sidebar-author-mobile {
    display: none;
}

.page-wrapper .sidebar .list-menu {
    margin: 0;
    padding: 0;
    padding-top: 2rem;
    overflow: hidden;
}

.page-wrapper .sidebar .list-menu li a {
    color: rgb(204, 214, 224);
    text-decoration: none;
    padding: 15px 30px;
    display: block;
    position: relative;
}

.page-wrapper .sidebar .list-menu li a:hover {
    color: rgba(199, 199, 199, 0.479);
    transition-duration: .25s;
} 

.page-wrapper .sidebar .list-menu li a .chevron-forward {
    position: absolute;
    right: 20px;
}

.page-wrapper .sidebar .list-menu li a .menu-icon {
    padding-right: 12px;
    font-size: 18px;
} 

.page-wrapper .page-content {
    flex-basis: 100%;
    overflow-x: hidden;
}



/* ADMIN MOBILE AND TABLET RESPONSIVENESS */

@media only screen and (max-width: 1200px) {

.page-wrapper .sidebar {
    flex-basis: 30%;
}  

}

@media only screen and (max-width: 768px) {

.page-wrapper {
    display: block;
}

.page-wrapper .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    z-index: 100;   
    transform: translateX(-240px); 
    transition: ease-in-out .25s;
    overflow: hidden;
}

.page-wrapper .sidebar.open {
    transform: translateX(0);
    transition: ease-in-out .25s;
}

.page-wrapper .sidebar .sidebar-author-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.page-wrapper .sidebar .sidebar-author-mobile .avatar {
    border-radius: 50%;
    width: 100px;
}

.page-wrapper .sidebar .sidebar-author-mobile .author-name {
    color: #c4d6ca;
    margin-top: 15px;
}

.page-wrapper .sidebar .sidebar-author-mobile .logout-link {
    text-decoration: none;
    color: rgb(204, 214, 224);
}

.page-wrapper .sidebar .sidebar-author-mobile .logout-link:hover {
    color: rgba(199, 199, 199, 0.479);
    text-decoration: underline;
    transition-duration: .25s;
}

.page-wrapper .sidebar .list-menu {
    margin: 0;
    padding: 0;
    padding-top: 2rem;
    overflow: hidden;
}

.page-wrapper .sidebar .list-menu li a {
    color: rgb(204, 214, 224);
    text-decoration: none;
    padding: 15px 30px;
    display: block;
    position: relative;
}

.page-wrapper .sidebar .list-menu li a:hover {
    color: rgba(199, 199, 199, 0.479);
    transition-duration: .25s;
} 

.page-wrapper .sidebar .list-menu li a .chevron-forward {
    position: absolute;
    right: 20px;
}

.page-wrapper .sidebar .list-menu li a .menu-icon {
    padding-right: 12px;
    font-size: 18px;
} 

.page-wrapper .page-content {
    flex-basis: 82%;
    overflow-x: hidden;
}
}

/* PUBLIC PAGE RESPONSIVE NAVBAR */

@media only screen and (max-width: 1024px) {
    header {
        padding: 0 50px; 
    }
}


@media only screen and (max-width: 768px) {

    header {
        padding: 0 80px;
    }

    header .menu-icon {
        display: block;
    }
    
    header .menu-icon:hover {
        cursor: pointer;
        color: rgba(163, 163, 163, 0.479); 
        transition-duration: .25s;
    }

    header nav {
        flex-grow: 1;
    }

    header .search-item, header .search-item input{
        width: 100%;
    }

    header .logo-wrapper {
        width: 100%;
        text-align: center;
    }


    
    header .nav-overlay.open {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.418);
    }

    header .navmenu {
        position: fixed;
        left: 0;
        top: 0;
        flex-direction: column;
        width: 200px;
        height: 100%;
        padding: 70px 5px;
        background-color:rgba(243, 243, 243, 0.952);
        overflow-y: scroll;
        z-index: 10;
        transform: translateX(-200px);
    }

    header .navmenu.open {
        transform: translateX(0);
        transition: all 0.25s ease-in-out;
    }

    header .navmenu .navitem {
        flex-direction: column;
    }

    header .navmenu .navitem a {
        padding: 16px;
    }

    header .navmenu .navitem .dropdown {
        position: static;
        width: inherit;
        background-color: inherit;
        border-radius: 5px;
        box-shadow: none;
        opacity: 1; 
        max-height: 0px;
        overflow: hidden;
        z-index: 1;
        transform: translateY(0px);
        transition: max-height 0.25s ease-in-out;
    }

    header .navmenu .navitem.active .dropdown {
        max-height: 300px;
        transition: max-height 0.25s ease-in-out;
    }

    header .navmenu .navitem .dropdown a {
        padding-left: 32px;
    }

    header .logo-wrapper:hover .logo {
        background-color: none;
        transition-duration: .25s;
}
}


/* Responsive Boxes and Containers */

.admin-container {
    padding: 32px 15px;
    max-width: 1400px;
    margin: 0 auto;
}

.sm-box {
    padding: 32px 20px;
    width: 60%;
}

.md-box {
    padding: 32px 30px;
    width: 80%;
}

.lg-box {
    padding: 32px 20px;
    width: 100%;
}

@media only screen and (max-width: 1200px) {

    .md-box, .lg-box {
      width: 100%;
    }

}

/* ================================== PAGES ================================== */

/* User Delete Confirmation */
.delete-confirmation {
    justify-content: left;
}

.delete-user-wrapper {
    width: 100%;
    padding: 30px;
    text-align: center;
}

.delete-user-wrapper .username {
    font-size: 1.5rem;
}

.delete-user-wrapper a {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    text-transform:uppercase;
}

.delete-user-wrapper .go-back {
    color: rgb(84, 143, 134);
    border: rgb(84, 143, 134) solid 1px;
    background-color: rgba(84, 143, 134, 0.185);
    border-radius: 5px;
}

.delete-user-wrapper .go-back:hover {
    color: #ddd;
    text-decoration: underline;
    background-color: rgb(84, 143, 134);;
}

.delete-user-wrapper .delete {
    color: rgb(223, 23, 23);
    border: red solid 1px;
    background-color: #ff292921;
    border-radius: 5px;
}

.delete-user-wrapper .delete:hover {
    color: #ddd;
    text-decoration: underline;
    background-color: rgb(218, 71, 71);;
}