/* ============================== DEFAULTS ==============================  */

.bg-pattern {
    background-color: #dde5db;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%2392aca3' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

.gray-1 {
    color: slategray;
}

.post-title {
    color: rgb(0, 145, 108);
}

.post-title:hover {
    color: rgb(0, 167, 125);
    text-decoration: underline;
    transition-duration: .25;
}

.primary-font {
    font-size: 1.1rem;
    font-family: "Libre Baskerville", serif;
    line-height: 1.5rem;
}

.error-message {
    background-color: rgba(255, 90, 90, 0.096);
    border: red solid 1px;
    color: rgb(226, 0, 0);
    border-radius: 3px;
    padding: 5px 10px;   
}

/* ============================== COMPONENTS ==============================  */

/* Flash Message */
.success {
    background-color: #eaf8f5;
    border: 1px solid #00bc98;
    color: #00bc98;
    height: 2rem;
    font-size: 1.1rem;
    margin-top: 20px;
    padding-top: 5px;
    text-align: center;
}

/* Post Card */

.post-card { 
    height: 480px;
    width: 352px;
    overflow: hidden;
    border-radius: 5px;
}

.post-card .image-wrapper {
    height: 38%;
}

.post-card .post-info {
    height: 62%;
    padding: 15px;
    border: 1px rgba(156, 156, 156, 0.342) solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-card .post-info .topic-wrapper
{
    display: flex;
    justify-content:space-between;
}

.post-card .post-info .topic-wrapper .topic-tag {
    text-transform: uppercase;
    font-size: .8rem;
    padding: 3px 9px;
    color: rgb(89, 146, 137);
    background-color: rgba(121, 204, 192, 0.26);
    border: 1px solid rgb(89, 146, 137);
    border-radius: 20px;
}

.post-card .post-info .post-preview {
    line-height: 1.5rem;
    max-height: 140px;
    overflow: overlay;
}

.post-card .post-info .author-info {
    display: flex;
    justify-content:space-between;
    margin-top: 23px;
}

.post-card .post-info .author-info .author {
    display: flex;
    align-items: center;
}

.post-card .author-info .avatar {
    height: 25px;
    width: 25px;
    margin-right: 5px;
    border-radius: 50%;
}

.default-page-container .collection {
    display: flex;
    justify-content: space-between;
}


/* Landscape Card */

.post-card.landscape {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    margin: 32px auto;
}

.post-card.landscape.featured-post {
    width: 70%px;
    margin-top: 0;
}

.post-card.landscape .image-wrapper {
    flex-basis: 50%;
    height: 100%;
}

.post-card.landscape .post-info {
    flex-basis: 50%;
    height: 100%;
    padding: 25px;
}

@media only screen and (max-width: 800px) {
    .post-card.landscape {
        flex-direction: column;
        height: 480px;
    }

    .post-card.landscape .post-info {
        padding: 15px;
        flex-basis: 70%;
    }
}

/* Carousel */
.carousel-container {
    position: relative;
}

.carousel-container .slider-arrow {
    color: rgba(148, 148, 148, 0.589);
    position: absolute;
    bottom: 0;
    min-height: 480px;
    font-size: 2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
}

.carousel-container .slider-arrow.prev-arrow {
    right: -40px;
}

.carousel-container .slider-arrow.prev-arrow:hover, .slider-arrow.next-arrow:hover {
    color: #ddd;
    transition-duration: .25s;
}

.carousel-container .slider-arrow.next-arrow {
    left: -40px;
}

.carousel-container .slick-arrow.slick-disabled {
    display: none !important;
}

.carousel-container .carousel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-container .carousel-header h2 {
    margin: 0;
    padding: 0;
}

.slick-slide {
    margin: 0 27px; 
}

.slick-slider {
    margin: 0 -27px;
}

/* Topics */

.topics-container {
    border-radius: 55px;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(176,229,208,1) 42%, rgba(92,202,238,0.41) 93.6% );
}

@media only screen and (max-width: 800px) {
    .topics-container {
        padding: 30px 0;
        overflow: scroll;
    }
}

.topics-container h1 {
    margin-top: 30px;
}

.topics-container .topics-pills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.topics-container .topics-pills a {
    text-decoration: none;
    margin: 10px;
    padding: 10px 25px;
    border: rgba(0, 0, 0, 0.322) dashed 1px;
    border-radius: 10px;
    color: unset;
    background-color: transparent;
    font-size: 1.2rem;
    -webkit-box-shadow: 3px 10px 13px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 10px 13px -10px rgba(0,0,0,0.75);
    box-shadow: 3px 10px 13px -10px rgba(0,0,0,0.75);
    transition-duration: .25s;
}

.topics-container .topics-pills a:hover {
    background-color: rgba(255, 255, 255, 0.39);
    -webkit-box-shadow: 3px 10px 32px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 10px 32px -3px rgba(0,0,0,0.75);
    box-shadow: 3px 10px 32px -3px rgba(0,0,0,0.75);
    transition-duration: .25s;
    color: slategray;
}

/* Footer */

.page-footer .footer-divider {
    width: 50%;
    border: 1px solid rgba(255, 255, 255, 0.295);
    margin-bottom: 10px;
}

.page-footer .socials {
    margin-bottom: 0px;
}

.page-footer .socials a {
    color: #ddd;
    margin: 10px 15px;
    font-size: 1.8rem;
    transition-duration: .25s;
}

.page-footer .socials a:hover {
    color: white;
    font-size: 2rem;
    transition-duration: .25s;
}


.page-footer .helpful-links a {
    text-decoration: none;
    color: #ddd;
    margin: 0 15px;
}

.page-footer .helpful-links a:hover {
    color: white;
    text-transform: uppercase;
    transition-duration: .25s;
} 

.page-footer .policy {
    margin-top: 10px;
}

.page-footer .policy a {
    color: #dddddd86;
    text-decoration: none;
    font-size: .9rem;
    margin: 0 5px;
}

.page-footer .policy a:hover {
    text-decoration: underline;
}

.page-footer .policy .break {
    color: #dddddd86;
}
/* ============================== PAGES ==============================  */

.default-page-container {
    max-width: 1200px;
    min-height: calc(100vh - 580px);
    margin: 0 auto;
    padding: 20px 60px;
}

.page-container {
    display: flex;
    justify-content: space-between;
}

.page-container .main-content {
    width: 65%;
}

.page-container .sidebar {
    width: 30%;
}

.page-container .sidebar .sidebar-section {
    margin-top: 1.8rem;
}

.page-container .sidebar-section.topics-section {
    background-color: #cfcfcf3a;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-radius: 10px;
} 

.page-container .sidebar-section.topics-section .topic-list a {
    text-decoration: none;
    display: inline-block; 
    border-radius: 15px;
    color: #fff;
    color: rgb(89, 146, 137);
    background-color: rgba(121, 204, 192, 0.26);
    border: 1px solid rgb(89, 146, 137);
    padding: 5px 12px;
    margin: 5px;
}
.page-container .sidebar-section.topics-section .topic-list a:hover {
    background-color: rgba(145, 247, 231, 0.26);
}

.page-footer {
    height: 240px;
    background-color: rgb(77, 131, 119);
    color: #ddd;
    text-align: center;
    padding: 25px;
    -webkit-box-shadow: 0px -19px 35px 6px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px -19px 35px 6px rgba(0,0,0,0.33);
    box-shadow: 0px -19px 35px 6px rgba(0,0,0,0.33);
}

.page-section {
    margin-bottom: 64px;
}

@media only screen and (max-width: 1150px) {
    .page-container {
        flex-direction: column;
    }
    .page-container .main-content, .page-container .sidebar {
        width: 100%;
    }

    .single-page .suggested-posts {
    margin-top: 30px;
    margin: 0 35px;
}
}

/* Single Post Page */
.page-banner {
    width: 100%;
    background-color: #cfcfcf3a;
}

.page-banner .banner-container {
    display: flex;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.page-banner .left-box {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
}

.page-banner .left-box .single-post-title {
    color: rgb(56, 145, 115);
    font-size: 2.5rem;
    margin-top: 5px;
}

.page-banner .left-box .post-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.page-banner .left-box .post-detail .author-wrapper {
    display: flex;
}

.page-banner .left-box .post-detail .name-wrapper {
    display: flex;
    flex-direction: column;
}

.page-banner .left-box .post-detail .author-wrapper .name-wrapper a {
    text-decoration: none;
    color: unset;
}

.page-banner .left-box .post-detail img {
    width: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

.page-banner .left-box .post-detail .social-links {
    transform: translateX(-20px);
}

.social-icon {
    font-size: 1.8rem;
    color: slategray;
    transform: translateY(7px);
    margin: 0 2px;
    transition-duration: .25s;
}

.social-icon:hover {
    color: rgb(187, 198, 207);
    transition-duration: .25s;
}

.page-banner .right-box {
    flex-basis: 45%;
}

@media only screen and (max-width: 1024px) {
    .page-banner .banner-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
    }
    .page-banner .banner-container .right-box {
        width: 100%;
    }
    .page-banner .banner-container .left-box {
        width: 100%;
    }
}

/* Author Bio */

.single-page .author-bio {
    border: 1px solid #d8d8d8;
    display: flex;
    margin-top: 30px;
    padding: 20px 0 0 15px;
}

.single-page .author-bio .primary-font {
    font-size: unset;
}

.single-page .author-bio .avatar-wrapper img {
    width: 100px;
    border-radius: 50%;
}

.single-page .author-bio .bio-wrapper {
    padding: 0px 10px 15px;
}

.single-page .author-bio .bio-wrapper .author-name {
    font-size: 1.5rem;
}


.single-page .author-bio .bio-wrapper .social-links {
    margin-left: 5px;
    margin-bottom: 10px;
}

.single-page .author-bio .bio-wrapper .social-links p {
    margin: 0;
    color: slategray;
}

/* Suggested Posts */

.single-page .suggested-posts {
    margin-top: 30px;
}

/* User Posts */

.user-banner-container {
    margin: 0 auto;
    text-align: center;
    max-width: 850px;
    padding: 0 40px;
}

.user-banner-container .image-wrapper {
    padding-top: 30px;
}

.user-banner-container .image-wrapper img {
    width: 100px;
    border-radius: 50%;
}

.user-banner-container .author-name h1 {
    margin: unset;
    margin-top: 10px;
    font-size: 2rem;
}

.user-banner-container .author-info {
    font-size: 1.1rem;
    padding: 10px 0;
}

.user-banner-container .social-links {
    padding: 10px 0 30px;
}

.user-banner-container .social-links a {

}

/* Auth Pages */

.create-user-page {
    overflow: hidden;
}

.create-user-page .create-user-form {
    width: 400px;
    margin-top: 100px;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-box-shadow: 0px 10px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 21px 0px rgba(0,0,0,0.75);
}

.create-user-page .create-user-form .input-group button {
    margin-top: 10px;
}



.login-page .password-wrapper {
    display: flex;
    justify-content: space-between;
}

.login-page .remember-me {
    display: flex;
}

.login-page .remember-me label {
    margin: auto 0 auto 3px;
}

