/* ================================== DEFAULTS ================================== */
* {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(231, 231, 231, 0.973);
    -webkit-font-smoothing: antialiased;
}

.td-none {
    text-decoration: none;
    color: inherit;
}

.hide {
    display: none;
}

/* ================================== COMPONENTS ================================== */

/******************************************** HEADER ********************************************/

header {
    background-color: rgba(243, 243, 243, 0.952);
    width: 100%;
    height: 80px;
    padding: 0 8rem; 
    border-bottom: 1px solid rgba(196, 196, 196, 0.486);  
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

header .menu-icon {
    display: none;
    font-size: 25px;   
}

header nav {
    height: inherit;
    display: flex; 
    align-items: center;
}

header .nav-overlay {
    display: none;
}

header ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

header .navmenu {
    display: flex;   
    transition: all 0.25s ease-in-out;
}

header .navmenu .navitem {
    position: relative;
}

header .navmenu .navitem .navicon {
    transform: translateY(4px);
    font-size: 16px; 
}

header .navmenu .navitem a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 30px 16px;
}

header .navmenu .navitem a:hover {
    color: rgba(163, 163, 163, 0.479);
    transition-duration: .25s;
}

header .navmenu .navitem .dropdown {
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 8px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 8px 5px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 8px 5px rgba(0,0,0,0.3);
    width: 150px;
    border-radius: 5px;
    position: absolute;
    top: 80px;
    left: 0;
    opacity: 0; 
    z-index: -5;
    transform: translateY(30px);
}

header .navmenu .navitem:hover .dropdown {
    opacity: 1;
    z-index: 5;
    transform: translateY(0);
    transition: all .25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

header .navmenu .navitem .dropdown li {
    border-bottom: 1px solid rgba(231, 231, 231, 0.973);
}

header .navmenu .navitem .dropdown a {
    padding: 16px;
}

.logo-wrapper {
    font-size: 1.8rem;
}

.logo-wrapper:hover {
    color: lightslategrey;
    transition-duration: .25s;
    border-radius: 3px;
}

.logo-wrapper:hover span {
    background-color: lightslategrey;
    transition-duration: .25s;
    padding: 0;
}

.logo-wrapper span {
    background-color: rgb(89, 146, 137);
    color: white;
    padding: 0 2px;
    border-radius: 3px;
    line-height: 0;
}

.search-icon {
    font-size: 20px;
    padding-right: 5px;
}

.search-icon:hover {
    cursor: pointer;
    color: rgba(163, 163, 163, 0.479); 
    transition-duration: .25s;
}

.header-search-form {
    border-radius: 5px;
}

/******************************************** HEADER - Media Queries ********************************************/

@media only screen and (max-width: 1024px) {
    header {
        padding: 0 50px; 
    }
}


@media only screen and (max-width: 768px) {

    header {
        padding: 0 80px;
    }

    header .menu-icon {
        display: block;
    }
    
    header .menu-icon:hover {
        cursor: pointer;
        color: rgba(163, 163, 163, 0.479); 
        transition-duration: .25s;
    }

    header nav {
        flex-grow: 1;
    }

    header .search-item, header .search-item input{
        width: 100%;
    }

    header .logo-wrapper {
        width: 100%;
        text-align: center;
    }


    
    header .nav-overlay.open {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.418);
    }

    header .navmenu {
        position: fixed;
        left: 0;
        top: 0;
        flex-direction: column;
        width: 200px;
        height: 100%;
        padding: 70px 5px;
        background-color:rgba(243, 243, 243, 0.952);
        overflow-y: scroll;
        z-index: 10;
        transform: translateX(-200px);
    }

    header .navmenu.open {
        transform: translateX(0);
        transition: all 0.25s ease-in-out;
    }

    header .navmenu .navitem {
        flex-direction: column;
    }

    header .navmenu .navitem a {
        padding: 16px;
    }

    header .navmenu .navitem .dropdown {
        position: static;
        width: inherit;
        background-color: inherit;
        border-radius: 5px;
        box-shadow: none;
        opacity: 1; 
        max-height: 0px;
        overflow: hidden;
        z-index: 1;
        transform: translateY(0px);
        transition: max-height 0.25s ease-in-out;
    }

    header .navmenu .navitem.active .dropdown {
        max-height: 300px;
        transition: max-height 0.25s ease-in-out;
    }

    header .navmenu .navitem .dropdown a {
        padding-left: 32px;
    }

    header .logo-wrapper:hover .logo {
        background-color: none;
        transition-duration: .25s;
}
}

/* ================================== PAGES ================================== */